/* Fonts */
@font-face {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Franklin Gothic Medium';
    font-style: normal;
    font-weight: normal;
}
html {
    scroll-behavior: smooth;
    color: white;
    z-index: -1;
}
div {
    display: block;
}

header {
    height: 100px;
    display: block;
}
#beginning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

#middle, #info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    align-self:center;
}

#end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    margin: auto;
    z-index: -1;
}

#info {
    width: 500px;
    margin: auto;
    overflow: wrap;
}

.left, .right {
    margin: 10px;
    width: 50%;
    height: 400px;
}

.right {
    padding-left: 20px;
}
